@model IEnumerable<Vet.DAL.Vacuna>

@{
    ViewData["Title"] = "Index";
}

<div>
    <h1 style="text-align: center">Nuestras Vacunas</h1>
</div>


<div class="row">
    <div class="col-md-6">
        <a asp-action="Create" class="btn btn-primary">Añadir Vacunas</a>
    </div>
    <div class="col-md-6">
        <form asp-action="Index" method="get" class="form-inline">
            <div class="form-group mr-2">
                <input type="text" id="busquedaVacuna" name="busquedaVacuna" class="form-control" style="width: 300px;" placeholder="Buscar Vacuna" />
                <br />
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
</div>


@if ((bool)ViewBag.NoResultados)
{
    <p>No se encuentran resultados de búsqueda.</p>
}

<br />
<br />

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 mb-4">
                <div class="card card 1 h-100">
                    <div class="card-body">
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h4>
                        <p class="card-text">Tipo: @Html.DisplayFor(modelItem => item.TipoVacuna)</p>
                        <p class="card-text">Producto: @Html.DisplayFor(modelItem => item.Producto)</p>
                        <p class="card-text">Estado: @Html.DisplayFor(modelItem => item.Producto)</p>
                        <p class="card-text">
                            Estado:
                            @if (item.Estado)
                            {
                                <span style="color: green;">Activo</span>
                            }
                            else
                            {
                                <span style="color: red;">Inactivo</span>
                            }
                        </p>

                    </div>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Edit" asp-route-id="@item.IdVacuna" class="btn btn-primary">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.IdVacuna" class="btn btn-secondary">Detalles</a>
                        <a class="btn btn-danger BorrarElemento" data-estado="@item.Estado" asp-action="Delete" asp-route-id="@item.IdVacuna">Eliminar</a>
                    </div>
                </div>
            
        }
    </div>
</div>

