@model IEnumerable<Vet.DAL.Medicamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Medicamentos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo Medicamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                    <p class="card-text">
                        @if (item.Estado)
                        {
                            <span style="color: green;">Activo</span>
                        }
                        else
                        {
                            <span style="color: red;">Inactivo</span>
                        }
                    </p>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMedicamento">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdMedicamento">Detalles</a> |
                    <a class="btn btn-danger BorrarElemento" data-estado="@item.Estado" asp-action="Delete" asp-route-id="@item.IdMedicamento">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
