@model IEnumerable<Vet.DAL.Mascota>

@{
    ViewData["Title"] = "Index";
}

@* <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoMascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazaMascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RazaMascota.TipoMascota.Nombre)
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.RazaMascota.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.NombreUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMascota">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMascota">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMascota">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@

<style>
    .card {
        border: none;
        transition: transform .5s ease;
    }

        .card:hover {
            box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
            transform: scale(1.1);
        } 
</style>

<div>
    <h1 style="text-align: center">Nuestras Mascotas</h1>
</div>




<div class="row">
    <div class="col-md-6">
        <a asp-action="Create" class="btn btn-primary">Añadir Mascotas</a>
    </div>
    <div class="col-md-3" style="margin-left: 250px">
        <form asp-action="Index" method="get" class="form-inline">
            <div class="form-group mr-2">
                <input type="text" id="busquedaMascota" name="busquedaMascota" class="form-control" style="width: 300px;" /> 
            </div>
            <p></p>
            <button type="submit" class="btn btn-primary" style="margin-left: 75%">Buscar</button>
        </form>
        <p></p>   
    </div>
</div>

@if ((bool)ViewBag.NoResultados)
{
    <p>No se encuentran resultados de búsqueda.</p>
}
<br />
<br />

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="@item.Imagen" alt="@item.Nombre">
                    <div class="card-body">
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h4>
                        <p class="card-text">Tipo: @Html.DisplayFor(modelItem => item.RazaMascota.TipoMascota.Nombre)</p>
                        <p class="card-text">Raza de Mascota: @Html.DisplayFor(modelItem => item.RazaMascota.Nombre)</p>
                        <p class="card-text">Género: @Html.DisplayFor(modelItem => item.Genero)</p>
                        <p class="card-text">Edad: @Html.DisplayFor(modelItem => item.Edad) Años</p>                                              
                        <p class="card-text">Fecha de Creación: @Html.DisplayFor(modelItem => item.FechaCreacion)</p>
                        <p class="card-text">
                            Estado:
                            @if (item.Estado)
                            {
                                <span style="color: green;">Activo</span>
                            }
                            else
                            {
                                <span style="color: red;">Inactivo</span>
                            }
                        </p>
                           
                    </div>
                    <div class="card-footer">
                        <a asp-action="Edit" asp-route-id="@item.IdMascota" class="btn btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.IdMascota" class="btn btn-secondary">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.IdMascota" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        }
        
    </div>
</div>


