@using System.Security.Claims
@model IEnumerable<Vet.DAL.PadecimientoMascota>

@{
    ViewData["Title"] = "Index";
}


<div>
    <h1 style="text-align: center"> Padecimientos por Mascota</h1>
</div>

<div class="row">
    <div class="col-md-6">

        @{
            var identidad = User.Identity as ClaimsIdentity;
            var roles = identidad.Claims.Where(c => c.Type == ClaimTypes.Role).ToList();

            if (roles.Select(r => r.Value).Contains("Admin") || roles.Select(r => r.Value).Contains("Veterinario"))
            {
                <a asp-action="Create" class="btn btn-primary">Añadir padecimiento a mascota</a>
            }
        }
    </div>
    <div class="col-md-3" style="margin-left: 250px">
        <form asp-action="Index" method="get" class="form-inline">
            <div class="form-group mr-2">
                <input type="text" id="busquedaMascotaPadecimiento" name="busquedaMascotaPadecimiento" class="form-control" style="width: 300px;" placeholder="Buscar por mascota" />
            </div>
            <p></p>
            <button type="submit" class="btn btn-primary" style="margin-left: 75%">Buscar</button>
        </form>
        <p></p>
    </div>
</div>

@if ((bool)ViewBag.NoResultados)
{
    <p>No se encuentran resultados de búsqueda.</p>
}
<br />
<br />


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 mb-4">
                <div class="card card1 h-100">
                    <div class="card-body">
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.Mascota.Nombre)</h4>
                        <p class="card-text">Padecimiento: @Html.DisplayFor(modelItem => item.Padecimiento.Nombre)</p>
                    </div>
                    <div class="card-footer">
                        @{
                            if (roles.Select(r => r.Value).Contains("Admin") || roles.Select(r => r.Value).Contains("Veterinario"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.IdPadecimientoMascota" class="btn btn-primary">Editar</a>
                                <a asp-action="Delete" asp-route-id="@item.IdPadecimientoMascota" class="btn btn-danger">Eliminar</a>
                            }
                        }
                        <a asp-action="Details" asp-route-id="@item.IdPadecimientoMascota" class="btn btn-secondary">Detalles</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
