@model IEnumerable<Vet.DAL.PadecimientoMascota>

@{
    ViewData["Title"] = "Index";
}


<style>
    .card {
        border: none;
        transition: transform .5s ease;
    }

        .card:hover {
            box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
            transform: scale(1.1);
        }
</style>

<div>
    <h1 style="text-align: center"> Padecimientos por Mascota</h1>
</div>




<div class="row">
    <div class="col-md-6">
        <a asp-action="Create" class="btn btn-primary">Añadir padecimiento a mascota</a>
    </div>
    <div class="col-md-3" style="margin-left: 250px">
        <form asp-action="Index" method="get" class="form-inline">
            <div class="form-group mr-2">
                <input type="text" id="busquedaMascotaPadecimiento" name="busquedaMascotaPadecimiento" class="form-control" style="width: 300px;" placeholder="Buscar por mascota" />
            </div>
            <p></p>
            <button type="submit" class="btn btn-primary" style="margin-left: 75%">Buscar</button>
        </form>
        <p></p>
    </div>
</div>

@if ((bool)ViewBag.NoResultados)
{
    <p>No se encuentran resultados de búsqueda.</p>
}
<br />
<br />


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.Mascota.Nombre)</h4>
                        <p class="card-text">Padecimiento: @Html.DisplayFor(modelItem => item.Padecimiento.Nombre)</p>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Edit" asp-route-id="@item.IdPadecimientoMascota" class="btn btn-primary">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.IdPadecimientoMascota" class="btn btn-secondary">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.IdPadecimientoMascota" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
