@model Vet.DAL.Cita

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Cita</h5>
        <hr />
        <dl class="row">
            <div class="card-subtitle">
                <h6> @Html.DisplayNameFor(model => model.DuenoId)</h6>
            </div>
            <p class="card-text">
                @Html.DisplayFor(model => model.Dueno.Nombre)
            </p>
            <div class="card-subtitle">
                <h6>@Html.DisplayNameFor(model => model.Fecha)</h6>
            </div>
            <p class="card-text">
                @Html.DisplayFor(model => model.Fecha)
            </p>
            <div class="card-subtitle">
                <h6> @Html.DisplayNameFor(model => model.Descripcion)</h6>
            </div>
            <p class="card-text">
                @Html.DisplayFor(model => model.Descripcion)
            </p>
            <div class="card-subtitle">
                <h6> @Html.DisplayNameFor(model => model.Diagnostico)</h6>
            </div>
            <p class="card-text">
                @Html.DisplayFor(model => model.Diagnostico)
            </p>
            <div class="card-subtitle">
                <h6> @Html.DisplayNameFor(model => model.EstadoCita)</h6>
            </div>
            <p class="card-text">
                @Html.DisplayFor(model => model.EstadoCita)
            </p>
            <div class="card-subtitle">
                <h6> @Html.DisplayNameFor(model => model.Mascota)</h6>
            </div>
            <p class="card-text">
                @Html.DisplayFor(model => model.Mascota.Nombre)
            </p>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model?.IdCita" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-outline-secondary">Atrás</a>
    </div>
</div>
