@using System.Security.Claims
@model IEnumerable<Vet.DAL.Cita>

@{
    ViewData["Title"] = "Index";
}


<h1>Citas</h1>


<p><a asp-action="Create" class="btn btn-primary">Nueva Cita </a></p>


<h2>Historial</h2>
@if (ViewData["historial"] is IEnumerable<Vet.DAL.Cita> historial)
{
    @if (historial.Count() == 0)
    {
        <p>No se encuentran resultados de búsqueda.</p>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Diagnostico)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mascota)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VeterinarioPrincipalId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VeterinarioSecundarioId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EstadoCita)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in historial)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Diagnostico)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mascota.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VeterinarioPrincipalId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VeterinarioSecundarioId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EstadoCita)
                            </td>
                            <td>
                                @{
                                    var identidad = User.Identity as ClaimsIdentity;
                                    var roles = identidad.Claims.Where(c => c.Type == ClaimTypes.Role).ToList();

                                    if (roles.Select(r => r.Value).Contains("Admin") || roles.Select(r => r.Value).Contains("Veterinario"))
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.IdCita" class="btn btn-primary btn-sm">Editar</a>

                                        <a asp-action="Delete" asp-route-id="@item.IdCita" class="btn btn-danger btn-sm">Cancelar</a>
                                    }
                                }
                                <a asp-action="Details" asp-route-id="@item.IdCita" class="btn btn-secondary btn-sm">Detalles</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }
}


<h2>En Curso</h2>
@if (ViewData["enCurso"] is IEnumerable<Vet.DAL.Cita> enCurso)
{
    @if (enCurso.Count() == 0)
    {
        <p>No se encuentran resultados de búsqueda.</p>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Diagnostico)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mascota)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VeterinarioPrincipalId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VeterinarioSecundarioId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EstadoCita)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tbody>
                        @foreach (var item in enCurso)
                        {
                        <tr>
                            <td>
                                    @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.Diagnostico)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.Mascota.Nombre)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.VeterinarioPrincipalId)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.VeterinarioSecundarioId)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.EstadoCita)
                            </td>
                            <td>
                                    @{
                                        var identidad = User.Identity as ClaimsIdentity;
                                        var roles = identidad.Claims.Where(c => c.Type == ClaimTypes.Role).ToList();

                                        if (roles.Select(r => r.Value).Contains("Admin") || roles.Select(r => r.Value).Contains("Veterinario"))
                                        {
                                        <a asp-action="Edit" asp-route-id="@item.IdCita" class="btn btn-primary btn-sm">Editar</a>
                                        
                                        <a asp-action="Delete" asp-route-id="@item.IdCita" class="btn btn-danger btn-sm">Cancelar</a>
                                        }
                                    }
                                <a asp-action="Details" asp-route-id="@item.IdCita" class="btn btn-secondary btn-sm">Detalles</a>
                            </td>
                        </tr>
                        }

                </tbody>
            </table>
        </div>
    }
}


<h2>Próximas</h2>
@if (ViewData["proxima"] is IEnumerable<Vet.DAL.Cita> proxima)
{
    @if (proxima.Count() == 0)
    {
        <p>No se encuentran resultados de búsqueda.</p>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Diagnostico)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mascota)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VeterinarioPrincipalId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VeterinarioSecundarioId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EstadoCita)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tbody>
                        @foreach (var item in proxima)
                        {
                        <tr>
                            <td>
                                    @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.Diagnostico)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.Mascota.Nombre)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.VeterinarioPrincipalId)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.VeterinarioSecundarioId)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.EstadoCita)
                            </td>
                            <td>
                                    @{
                                        var identidad = User.Identity as ClaimsIdentity;
                                        var roles = identidad.Claims.Where(c => c.Type == ClaimTypes.Role).ToList();

                                        if (roles.Select(r => r.Value).Contains("Admin") || roles.Select(r => r.Value).Contains("Veterinario"))
                                        {
                                        <a asp-action="Edit" asp-route-id="@item.IdCita" class="btn btn-primary btn-sm">Editar</a>

                                        <a asp-action="Delete" asp-route-id="@item.IdCita" class="btn btn-danger btn-sm">Cancelar</a>
                                        }
                                    }
                                <a asp-action="Details" asp-route-id="@item.IdCita" class="btn btn-secondary btn-sm">Detalles</a>
                            </td>
                        </tr>

                        }
                </tbody>
            </table>
        </div>
    }
}