@using System.Security.Claims
@model Vet.DAL.VacunaMascota

@{
    ViewData["Title"] = "Details";
}
<h1>Detalles</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Vacuna de Mascota</h5>
        <hr />

        <dl class="row">
            <div class="card-subtitle">
                <h6>@Html.DisplayNameFor(model => model.Vacuna)</h6>
            </div>
            <p class="card-text">
                @Html.DisplayFor(model => model.Vacuna.Nombre)
            </p>
            <div class="card-subtitle">
                <h6>@Html.DisplayNameFor(model => model.Mascota)</h6>
            </div>
            <p class="card-text">
                @Html.DisplayFor(model => model.Mascota.Nombre)
            </p>
            <div class="card-subtitle">
                <h6>@Html.DisplayNameFor(model => model.FechaVacuna)</h6>
            </div>
            <p class="card-text">
                @Html.DisplayFor(model => model.FechaVacuna)
            </p>
        </dl>
    </div>
    <div class="card-footer">
        @{
            var identidad = User.Identity as ClaimsIdentity;
            var roles = identidad.Claims.Where(c => c.Type == ClaimTypes.Role).ToList();

            if (roles.Select(r => r.Value).Contains("Admin") || roles.Select(r => r.Value).Contains("Veterinario"))
            {
                <a asp-action="Edit" asp-route-id="@Model?.IdVacunaMascota" class="btn btn-primary">Editar</a>
            }
        }
        <a asp-action="Index" class="btn btn-outline-secondary">Atrás</a>
    </div>
</div>
