@using System.Security.Claims
@model IEnumerable<Vet.DAL.VacunaMascota>

@{
    ViewData["Title"] = "Index";
}



<div>
    <h1 style="text-align: center">Vacunas por mascota</h1>
</div>


<div class="row">
    <div class="col-md-6">
        @{
            var identidad = User.Identity as ClaimsIdentity;
            var roles = identidad.Claims.Where(c => c.Type == ClaimTypes.Role).ToList();

            if (roles.Select(r => r.Value).Contains("Admin") || roles.Select(r => r.Value).Contains("Veterinario"))
            {
                <a asp-action="Create" class="btn btn-primary">Añadir vacuna a mascota </a>
            }
        } 
    </div>
    <div class="col-md-6">
        <form asp-action="Index" method="get" class="form-inline">
            <div class="form-group mr-2">
                <input type="text" id="busquedaMascotaVacuna" name="busquedaMascotaVacuna" class="form-control" style="width: 300px;" placeholder="Buscar por mascota" />
                <br />
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
</div>



@if ((bool)ViewBag.NoResultados)
{
    <p>No se encuentran resultados de búsqueda.</p>
}

<br />
<br />
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 mb-4">
                <div class="card card1 h-100">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Mascota.Nombre)</h5>
                        <p class="card-text">Vacuna: @Html.DisplayFor(modelItem => item.Vacuna.Nombre)</p>
                        <p class="card-text">Fecha de vacunación: @Html.DisplayFor(modelItem => item.FechaVacuna)</p>
                    </div>
                    <div class="card-footer">
                        @{
                            if (roles.Select(r => r.Value).Contains("Admin") || roles.Select(r => r.Value).Contains("Veterinario"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.IdVacunaMascota" class="btn btn-primary">Editar</a>
                                <a asp-action="Delete" asp-route-id="@item.IdVacunaMascota" class="btn btn-danger">Eliminar</a>
                            }
                        }
                        <a asp-action="Details" asp-route-id="@item.IdVacunaMascota" class="btn btn-secondary">Detalles</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
