@model Vet.DAL.CitaMedicamento

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Medicamentos recetados a la cita de (NombreMascota)</h5>
        <hr />
        <dl class="row">
            <div class="card-subtitle">
                <h6> @Html.DisplayNameFor(model => model.Dosis)</h6>
            </div>
            <p class="card-text">
                @Html.DisplayFor(model => model.Dosis) @Html.DisplayFor(model => model.Medicamento.UnidadMedida)
            </p>
            <div class="card-subtitle">
                <h6>@Html.DisplayNameFor(model => model.Medicamento)</h6>
            </div>
            <p class="card-text">
                @Html.DisplayFor(model => model.Medicamento.Marca)
            </p>
            <div class="card-subtitle">
                <h6> @Html.DisplayNameFor(model => model.Cita)</h6>
            </div>
            <p class="card-text">
                @Html.DisplayFor(model => model.Cita.IdCita)
            </p>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model?.IdCitaMedicamento" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-outline-secondary">Atrás</a>
    </div>
</div>
