@model IEnumerable<Vet.DAL.CitaMedicamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Cita/Medicamentos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Asignar Medicamento a Cita</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cita)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicamento.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cita.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCitaMedicamento">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdCitaMedicamento">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCitaMedicamento">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
